@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color:  "white";
}
